<div class="md-inline-form">
    <md-content layout-gt-sm="row" layout-padding>
        <qrcode ng-if="page.ticket" data="{{page.ticket}}" size="200" download></qrcode>
        <md-input-container>
            <label>Name</label>
            <input ng-model="page.booking.name">
        </md-input-container>

        <md-input-container>
            <label>from</label>
            <md-datepicker ng-model="page.booking.from" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
        <md-input-container>
            <label>to</label>
            <md-datepicker ng-model="page.booking.to" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
        <md-button ng-click="page.book(page.workspace.id)">Book</md-button>
    </md-content>
</div>
